# Server Port (Render sets this dynamically)
PORT=3000

# IMB Payment Gateway Credentials
IMB_USER_TOKEN=43436b3fa240f5b0100be86b8c50261043436b3fa240f5b0100be86b8c502610
IMB_API_URL=https://secure-stage.imb.org.in/

# Firebase Admin Service Account Config
# 1. Option A: Paste the entire JSON content from your service account file as a single line string
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}

# 2. Option B: Alternatively, set individual fields:
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
